<h1 style="font-weight:bold;"><i style="color:blue;">DATA MINING</i></h1>

<h5 style="font-weight:bold;"><i style="color:blue;">By:</i></h5>
<i style="color: black; font-weight:bold;"><br/> - Safae NABET<br/> - Hanae ELKORRI</i><br/><br/>

<h2 style="font-weight:bold;"><i style="color:darkgreen;">Data Preprocessing:</i></h2>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("hotel_bookings.csv")

In [3]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [4]:
df.shape

(119390, 32)

In [5]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [6]:
df.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

<h5 style="font-weight:bold;"><i style="color:teal;"> Verfifying if there are any missing values:</i></h5>

In [7]:
df.isnull()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,False,False,False,False,False,False,False,False,False,False,...,False,True,True,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,True,True,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,True,True,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
119386,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
119387,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
119388,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
119389,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False

In [8]:
df.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

<h5 style="font-weight:bold;"><i style="color:teal;"> Dropping rows with missing values except for the variables "agent" and "company":</i></h5>

In [9]:
df1 = df.dropna(subset=['children'])
df1 = df1.dropna(subset=['country'])

In [10]:
df1.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               0
babies                                 0
meal                                   0
country                                0
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16004
company                           112275
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

<h5 style="font-weight:bold;"><i style="color:teal;">Changing arrival year, month and day feature to datetime format called arrival_date:</i></h5>

In [11]:
df1['arrival_date_year']=df1['arrival_date_year'].astype(str)
df1['arrival_date_month']=df1['arrival_date_month'].astype(str)
df1['arrival_date_day_of_month']=df1['arrival_date_day_of_month'].astype(str)

In [12]:
df1["arrival_date"] = pd.to_datetime(df1["arrival_date_month"]+df1["arrival_date_year"]+df1["arrival_date_day_of_month"], format='%B%Y%d')

In [13]:
df1.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,arrival_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02,2015-07-01
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02,2015-07-01
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03,2015-07-01

In [14]:
print(df1["arrival_date"].dtypes)

datetime64[ns]

<h5 style="font-weight:bold;"><i style="color:teal;">Verifying that the timestamp of the variable reservation_status_date must occur after or at the same date as the input variable arrival_date: </i></h5>

In [15]:
df1["reservation_status_date"] = pd.to_datetime(df1["reservation_status_date"])
l = np.less(df1["reservation_status_date"], df1["arrival_date"])
l.sum()

42087

<h5 style="font-weight:bold;"><i style="color:teal;">The proposed preprocessing: </i></h5>

In [16]:
print(df1["reserved_room_type"].unique())
print(df1["assigned_room_type"].unique())

['C' 'A' 'D' 'E' 'G' 'F' 'H' 'L' 'B' 'P']
['C' 'A' 'D' 'E' 'G' 'F' 'I' 'B' 'H' 'L' 'K' 'P']

In [17]:
def changed_room(row):
    if row['assigned_room_type'] == row['reserved_room_type']:
        return 0
    else:
        return 1

df1['changed_room'] = df1.apply(changed_room, axis=1)
df2 = df1.drop(["assigned_room_type", "reserved_room_type"], axis=1)

In [18]:
df2.notna().sum()

hotel                             118898
is_canceled                       118898
lead_time                         118898
arrival_date_year                 118898
arrival_date_month                118898
arrival_date_week_number          118898
arrival_date_day_of_month         118898
stays_in_weekend_nights           118898
stays_in_week_nights              118898
adults                            118898
children                          118898
babies                            118898
meal                              118898
country                           118898
market_segment                    118898
distribution_channel              118898
is_repeated_guest                 118898
previous_cancellations            118898
previous_bookings_not_canceled    118898
booking_changes                   118898
deposit_type                      118898
agent                             102894
company                             6623
days_in_waiting_list              118898
customer_type                     118898
adr                               118898
required_car_parking_spaces       118898
total_of_special_requests         118898
reservation_status                118898
reservation_status_date           118898
arrival_date                      118898
changed_room                      118898
dtype: int64

In [19]:
df2["country"].unique()

array(['PRT', 'GBR', 'USA', 'ESP', 'IRL', 'FRA', 'ROU', 'NOR', 'OMN',
       'ARG', 'POL', 'DEU', 'BEL', 'CHE', 'CN', 'GRC', 'ITA', 'NLD',
       'DNK', 'RUS', 'SWE', 'AUS', 'EST', 'CZE', 'BRA', 'FIN', 'MOZ',
       'BWA', 'LUX', 'SVN', 'ALB', 'IND', 'CHN', 'MEX', 'MAR', 'UKR',
       'SMR', 'LVA', 'PRI', 'SRB', 'CHL', 'AUT', 'BLR', 'LTU', 'TUR',
       'ZAF', 'AGO', 'ISR', 'CYM', 'ZMB', 'CPV', 'ZWE', 'DZA', 'KOR',
       'CRI', 'HUN', 'ARE', 'TUN', 'JAM', 'HRV', 'HKG', 'IRN', 'GEO',
       'AND', 'GIB', 'URY', 'JEY', 'CAF', 'CYP', 'COL', 'GGY', 'KWT',
       'NGA', 'MDV', 'VEN', 'SVK', 'FJI', 'KAZ', 'PAK', 'IDN', 'LBN',
       'PHL', 'SEN', 'SYC', 'AZE', 'BHR', 'NZL', 'THA', 'DOM', 'MKD',
       'MYS', 'ARM', 'JPN', 'LKA', 'CUB', 'CMR', 'BIH', 'MUS', 'COM',
       'SUR', 'UGA', 'BGR', 'CIV', 'JOR', 'SYR', 'SGP', 'BDI', 'SAU',
       'VNM', 'PLW', 'QAT', 'EGY', 'PER', 'MLT', 'MWI', 'ECU', 'MDG',
       'ISL', 'UZB', 'NPL', 'BHS', 'MAC', 'TGO', 'TWN', 'DJI', 'STP',
       'KNA', 'ETH', 'IRQ', 'HND', 'RWA', 'KHM', 'MCO', 'BGD', 'IMN',
       'TJK', 'NIC', 'BEN', 'VGB', 'TZA', 'GAB', 'GHA', 'TMP', 'GLP',
       'KEN', 'LIE', 'GNB', 'MNE', 'UMI', 'MYT', 'FRO', 'MMR', 'PAN',
       'BFA', 'LBY', 'MLI', 'NAM', 'BOL', 'PRY', 'BRB', 'ABW', 'AIA',
       'SLV', 'DMA', 'PYF', 'GUY', 'LCA', 'ATA', 'GTM', 'ASM', 'MRT',
       'NCL', 'KIR', 'SDN', 'ATF', 'SLE', 'LAO'], dtype=object)

In [20]:
print(df2.groupby(["country"]).size().sort_values())

country
BHS        1
NIC        1
DMA        1
NCL        1
NAM        1
       ...
DEU     7287
ESP     8568
FRA    10415
GBR    12129
PRT    48586
Length: 177, dtype: int64

In [22]:
for i in range(len(df2)):
    if df2.loc[i, 'country'] == 'PRT':
        df2.at[i, 'country'] = 1
    elif df2.loc[i, 'country'] == 'GBR':
        df2.at[i, 'country'] = 2
    elif df2.loc[i, 'country'] == 'FRA':
        df2.at[i, 'country'] = 3
    else:
        df2.at[i, 'country'] = 0

NameError: name 'df2' is not defined

In [ ]:
df2['agent'].fillna(df2['agent'].mode()[0], inplace=True)
df2['country'].fillna(df2['agent'].mode()[0], inplace=True)

In [ ]:
from sklearn import preprocessing

encoder = preprocessing.LabelEncoder()
df2["hotel"] = encoder.fit_transform(df["hotel"])
categorical_variables = ['customer_type', 'deposit_type', 'market_segment', 'distribution_channel', 'country']
#for item in categorical_variables:
#    df2[item] = encoder.fit_transform(df2[item])
df2 = pd.get_dummies(df, columns = categorical_variables)

In [ ]:
df2 = df2.drop(categorical_variables+["reservation_date", "meal", "company"]

In [ ]:
df2.head()

In [ ]:
#df2.to_csv('hotel_data.csv')

<h2 style="font-weight:bold;"><i style="color:darkgreen;">Exploratory Data Analysis:</i></h2>

<h5 style="font-weight:bold;"><i style="color:teal;">Creating dataset summary statistics for date variables:</i></h5>

In [ ]:
df_Dates = pd.DataFrame(df1, columns=["reservation_status_date", "arrival_date"])
df_Dates.describe(include='all')

<h5 style="font-weight:bold;"><i style="color:teal;"> Creating dataset summary statistics for categorical variables:</i></h5>

In [ ]:
df1["is_canceled"]= df1["is_canceled"].astype(str)
df1["is_repeated_guest"]= df1["is_repeated_guest"].astype(str)
df1.describe(include=[np.object])

<h5 style="font-weight:bold;"><i style="color:teal;"> Creating dataset summary statistics for integer and numeric variables:</i></h5>

In [ ]:
df1.describe(include=[np.number,'integer'])

<h5 style="font-weight:bold;"><i style="color:teal;"> Checking the distribution of hotel type for cancellation:</i></h5>

In [ ]:
fig = plt.gcf()
#Change seaborn plot size
fig.set_size_inches(12,8)
sns.countplot(data=df1, x='hotel', hue='is_canceled', palette=['g','r'])

<h5 style="font-weight:bold;"><i style="color:teal;"> Plot of cancellation distribution and Number of Adults:</i></h5>

In [ ]:
fig = plt.gcf()
#Change seaborn plot size
fig.set_size_inches(12,8)
sns.countplot(data=df1, x='adults', hue='is_canceled', palette=['g','r'])